# Larang eksekusi file PHP di folder ini
<FilesMatch "\.php$">
    Order Allow,Deny
    Deny from all
</FilesMatch>

# Izinkan hanya file gambar
<FilesMatch "\.(jpg|jpeg|png|gif|webp)$">
    Order Allow,Deny
    Allow from all
</FilesMatch>
